*.tif* filter=lfs diff=lfs merge=lfs -text
./documentation/folder[[:space:]]structure.graffle/image1.tiff filter=lfs diff=lfs merge=lfs -text
./analysis/visuals/tiffs/Box[[:space:]]72[[:space:]]F14[[:space:]]number[[:space:]]6.tif filter=lfs diff=lfs merge=lfs -text
./analysis/visuals/tiffs/Box[[:space:]]72[[:space:]]F19[[:space:]]number[[:space:]]3.tif filter=lfs diff=lfs merge=lfs -text
