
/* =============================================================
    CSS2 specification for SDO TEI in oXygen.
    Some elements newly authored by derived from stylesheet by
    Author: T Lopez (tamara.lopez@kcl.ac.uk)
    Date:   2000-06-05
 
    Some elements adapted from the core oXygen TEI stylesheets (see details below).
============================================================= */


@namespace sdo "http://www.cch.kcl.ac.uk/schenker";
@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace dcterms "http://purl.org/dc/terms/";
@namespace xsi "http://www.w3.org/2001/XMLSchema-instance";
@namespace marcrel "http://www.loc.gov/loc.terms/relators/"; 



/*  ----- SDO Elements----- */

recordCollection {
    
display:block;

}

source {
display:block;

}

collectionDesc:before {

font-weight:bold;
display: block;
content: "Collection Description"

}


diary:before {
font-weight:bold;
content:  "Diary Shelfmark";      
}

correspondence:before {
font-weight:bold;
content:  "Correspondence Shelfmark";
}

correspondence:after, diary:after, lessonbook:after, other:after {
display:block;
font-weight:bold;
content:  attr(shelfmark);

}



collectionDesc {
display:block;

}


record:before {

display:block;
font-weight:bold;
font-style:italic;
content: "Record " attr(ID);

}

itemDesc:before {

display:block;
font-weight:bold;
font-style:italic;
content: "Item Description";

}

itemDesc {

display:block;
 background-color: rgb(251, 242, 234);
  border: .5px dashed silver;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
          
}

record {

display:block;
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
padding-right: .5em;     
}


/*  ----- Dublin Core Elements----- */



dc|title,
dcterms|created,
dcterms|dateSubmitted,
dc|description,           
dc|subject,
dc|format {
display:block;
} 

dc|title:before{
   content: "Title: ";
}

dcterms|created:before{
   content:"Created: ";
}

dcterms|dateSubmitted:before {
   content:"Date Submitted: ";
}

dc|description:before {
  content:"Description: ";
}

dc|subject:before {
  content:"Subject: ";
  }
  
dc|format:before {
  content: "Format: ";
  }
  
  
/*  ----- MARC Relator Code Elements----- */

marcrel|correspondent,
marcrel|recipient {
display:block;
} 

marcrel|correspondent:before {
  content: "Correspondent Key: " attr(key);
}
  
marcrel|recipient:before {  
  content: "Recipient Key: " attr(key);
  } 


/*  ----- TEI Elements----- */

tei|lb {
  display: block;
}

tei|lb:after {

content: "[linebreak]";
}



tei|handNotes {
   
  background-color: rgb(251, 242, 234);
  border: .5px dashed silver;
  margin-bottom: 1em;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;

}

tei|handNotes:before {
font-weight:bold;
display: block;
content: "Hand Notes";
 
}

tei|handNote:after {

display:block;
content: "ID: " attr(id) " Scope: " attr(scope)

}

tei|respStmt {
  margin-bottom: 1em;
   border: .5px dashed silver;
  padding-left: .5em;
  padding-right: .5em;

}

tei|respStmt:before{
display:block;
font-weight:bold;
content:"Responsibility Statement";
}

tei|respStmt:after{
content:"(ID: " attr(id) ")";
}

tei|respStmt > tei|persName {
display:block;

}

tei|resp {
display:block;
}

tei|resp:before {

content: "Responsibility: ";
}

tei|revisionDesc:before {

display:block;
font-weight:bold;
content: "Revision Description";

}

tei|change:before {
display:block;
content: "Date: " attr(when) "  Who: " attr(who)
}


tei|revisionDesc {
 
  background-color: rgb(251, 242, 234);
  border: .5px dashed silver;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;  

}


tei|title {
  display: inline;
   color: rgb(112,0,0);
  border-bottom: 1px solid;
}

tei|title:after{

content: " [title]";

}

tei|quote {
  display: inline;
  border-bottom:dotted;
}

tei|quote:after{

content: " [quote]";

}

tei|soCalled {
  display: inline;
  border-bottom:dotted;
}

tei|soCalled:after{

content: " [soCalled]";

}    


tei|transcription:before{
display:block;
font-weight:bold;
font-style:italic;
content: "Transcription"
}


tei|translation:before{
display:block;
font-weight:bold;
font-style:italic;
content: "Translation"
}

tei|transcription, tei|translation {
display:block;
 padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;           
}

/*  ----- oXygen Extensions ----- */



collectionDesc,
record
 {

foldable:true;
}

/*  Nothing should be editable! */


* {
editable:false;
}


/* =============================================================
    CSS2 specification for TEI in oXygen.
 derived from stylesheet by
    Author: Adrian Edwards (adrian_edwards@yahoo.com)
    Date:   2000-04-19
 edited by Sebastian Rahtz (sebastian.rahtz@oucs.ox.ac.uk)
            2001-05-06
 
 
 adapted by Tamara Lopez (tamara.lopez@kcl.ac.uk)
      2009-06-04

============================================================= */
/* Use Times New Roman for default font */
TEI {
}
abbr {
  display: inline;
  border-bottom: .5px dashed gray;

}

abbr:after {

content: "[abbr]";

}
add {
  display: inline;
  color: green;
  background-color: inherit;
  text-decoration:underline;
}

add:after {

content: "[add]";

}

address {
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
addrLine {
  display: block;
  white-space: nowrap;
}
anchor {
  display: none;
}
argument {
  display: block;
  margin-bottom: 0.5em;
}
att {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
att:before {
  content: "@";
}
author {
  display: inline;
}
    
back {
  display: block;
  border: thin black solid;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
bibl {
  display: inline;
}
    
argument > bibl, body > bibl, cit > bibl, div > bibl, div0 > bibl, div1 > bibl, div2 > bibl, div3 > bibl, div4 > bibl, div5 > bibl, div6 > bibl, div7 > bibl, epigraph > bibl, listBibl > bibl > bibl, taxonomy > bibl {
  display: block;
  margin-bottom: 0.5em;
}
biblFull {
  display: inline;
}
    
argument > biblFull, body > biblFull, cit > biblFull, div > biblFull, div0 > biblFull, div1 > biblFull, div2 > biblFull, div3 > biblFull, div4 > biblFull, div5 > biblFull, div6 > biblFull, div7 > biblFull, epigraph > biblFull, listBibl > biblFull > biblFull, taxonomy > biblFull {
  display: block;
  margin-bottom: 0.5em;
}
biblScope {
  display: inline;
}
    
imprint > biblScope {
  display: block;
}
    
body {
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  counter-reset: div1;

}
byline {
  display: block;
  font-style: italic;
  margin-bottom: 0.5em;
}
category {
  display: block;
  margin-bottom: 1em;
}
catRef {
  display: none;
}
cell {
  display: table-cell;
  border: 1px solid #EEEFEE;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}
cell[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}
change {
  display: block;
  margin-bottom: 1em;
  margin-left: 2em;
}
cit {
  display: inline;
}
    
argument > cit, body > cit, div > cit, div0 > cit, div1 > cit, div2 > cit, div3 > cit, div4 > cit, div5 > cit, div6 > cit, div7 > cit, epigraph > cit {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
classCode {
  display: block;
}
elementSpec, macroSpec, classSpec {
  display: block;
  margin-bottom: 1em;
}
closer {
  display: block;
  margin-bottom: 1em;
}
code {
  display: inline;
  font-family: monospace;
}
corr {
  display: inline;
  color: green;
  background-color: inherit;
  text-decoration:underline;
}

corr:after{
  content: "[corr]";
}

creation {
  display: block;
}
date {
  display: inline;
}
    
change > date, publicationStmt > date {
  display: block;
  font-weight: bold;
}
dateline {
  display: inline;
}
del {
  display: inline;
  color: red;
  background-color: inherit;
  text-decoration:underline;

}

del:after{
content: "[del]";
}

distributor {
  display: block;
  margin-bottom: 0.5em;
}
body > div {
  display: block;
  margin-bottom: 1em;
  counter-increment: div1;
  counter-reset: div2;
}
body > div > div {
  display: block;
  margin-bottom: 1em;
  counter-increment: div2;
  counter-reset: div3;
}
body > div > div > div {
  display: block;
  margin-bottom: 1em;
  counter-increment: div3;
}
div1 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div1;
  counter-reset: div2;
}
div2 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div2;
  counter-reset: div3;
}
div3 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div3;
  counter-reset: div4;
}
div4 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div4;
  counter-reset: div5;
}
div5 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div5;
  counter-reset: div6;
}
div6 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div6;
  counter-reset: div7;
}
div7 {
  display: block;
  margin-bottom: 1em;
  counter-increment: div7;
}
divGen {
  display: none;
}
docAuthor {
  display: block;
  margin-bottom: 0.5em;
}
    
byline docAuthor {
  display: inline;
}
    
titlePage docAuthor {

}
    
titlePage docTitle {

}
    
edition {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl edition {
  display: inline;
}
    
editionStmt {
  display: block;
  margin-bottom: 1em;
}
editor {
  display: block;
  margin-bottom: 0.5em;
}
    
bibl editor {
  display: inline;
}
    
eg {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
}
    
argument > eg, body > eg, div > eg, div0 > eg, div1 > eg, div2 > eg, div3 > eg, div4 > eg, div5 > eg, div6 > eg, div7 > eg, epigraph > eg {
  display: block;
  margin-bottom: 1em;
}
emph {
  display: inline;
  font-style: italic;
}
epigraph {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}
    
extent {
  display: block;
  margin-bottom: 1em;
}
    
bibl extent {
  display: inline;
}
 
graphic{
    color: gray;
    background-color: inherit;
    content: "{" attr(url) "}";    
}
figure {
  display: block;
  margin-bottom: 1em;
}
foreign {
  display: inline;
  border-bottom:dotted;
}

foreign:after{
  content: " [foreign]";
}
formula {
  display: inline;
  font-style: italic;
}
front {
  display: block;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
funder {
  display: block;
  margin-bottom: 0.5em;
}
gap {
  display: none;
}
    
gap:after {
  content: "[...]";
  font-style: italic;
}

gap[extent]:after {

content: "[" attr(extent) ".." attr(unit) "]";
font-style: italic;

}

gi,tag {
  display: inline;
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
}
    
tag:before,gi:before {
  content: "<";
}
    
tag:after,gi:after {
  content: ">";
}
    
gloss {
  display: inline;
}
group {
  display: block;
  margin-bottom: 1em;
}
body > div > head {
  display: block;
  font-size: larger;
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: inherit;
  background-color: #BBBBBB;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
body > div > div > head {
  display: block;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: inherit;
  background-color: #BBBBBB;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
body > div > div > div > head {
  display: block;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: inherit;
  background-color: #BBBBBB;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
div1 > head:before {
  content: counter(div1) ". ";
  color: black;
  background-color: inherit;
}
div2 > head:before {
  content: counter(div1) "." counter(div2) ". ";
  color: black;
  background-color: inherit;
}
div3 > head:before {
  content: counter(div1) "." counter(div2) "." counter(div3) ". ";
  color: black;
  background-color: inherit;
}
body > div > head:before {
  content: counter(div1) ". ";
  color: black;
  background-color: inherit;
}
body > div > div > head:before {
  content: counter(div1) "." counter(div2) ". ";
  color: black;
  background-color: inherit;
}
body > div > div > div > head:before {
  content: counter(div1) "." counter(div2) "." counter(div3) ". ";
  color: black;
  background-color: inherit;
}
hi {
  display: inline;
  color: rgb(51,0,153);
  border-bottom: 1px solid rgb(153,0,255);
}

hi:after{

content: "[rend=" attr(rend) "]";

}

ident {
  display: inline;
  font-family: monospace;
}
idno {
  display: block;
  margin-bottom: 1em;
}
    
bibl idno {
  display: inline;
}
        
imprint {
  display: inline;
}
index {
  display: none;
}
interp {
  display: none;
}
interpGrp {
  display: none;
}
list[type = "gloss"] item {
  display: block;
  margin-left: 1em;
}
list item {
  display: list-item;
  margin-left: 12pt;
}
    
    
item {
  display: list-item;
  margin-left: 12pt;
}
    
item[n]:before {
  content: attr(n) ". " ;
  list-style: none;
} /* should there be space after the content?
     And should default marker be suppressed
     when there is an @n attribute? --DRS */
    
change item {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-top: 0.5em;
}
keywords {
  display: block;
  margin-bottom: 0.5em;
}
kw {
  display: inline;
  font-style: italic;
}
l {
  display: block;
  white-space: nowrap;
}
label {
  display: inline;
  font-weight: bold;
}
Label {
	display: inline;
	font-weight : bold;
	color : #2F4F4F;
           background-color: inherit;
}
    
argument > label, body > label, div > label, div0 > label, div1 > label, div2 > label, div3 > label, div4 > label, div5 > label, div6 > label, div7 > label, epigraph > label {
  display: block;
  font-weight: bold;
}
langUsage {
  display: block;
  margin-bottom: 1em;
}
lb {
  display: block;
}
lg {
  display: block;
  margin-bottom: 0.5em;
}
list {
  display: block;
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-top: 1em;
}
    
list[rend="runon"] {
  display: inline;
}
    
list[type="bulleted"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="unordered"] {
  list-style-type: disc;
  list-style-position: outside;
}
list[type="ordered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
    
list[type="numbered"] {
  list-style-type: decimal;
  list-style-position: outside;
}
list[type="none"] {
  list-style-type: none;
}
    
listBibl {
  display: block;
  margin-bottom: 0.5em;
}
mentioned {
  display: inline;
  font-style: italic;
}

milestone[rend='inline em-dash']:after {
  content: '\00A0\00A0' '\2014' '\00A0';
  text-align: center;
}

milestone[rend='block em-dash']:after {
  display:block;
  content: '\00A0\00A0' '\2014' '\00A0';
  text-align: center;
}

milestone[rend='block asterisk']:after {
  display:block;
  content: '*';
  text-align: center;
}

milestone[rend='inline asterisk']:after {
  display:inline;
  content: ' * ';
  text-align: center;
}

milestone[unit='folio']:after {

display:block;
font-weight:bold;
font-style:italic;
content: "{" attr(n) "}";

}


name {
  display: inline;
}
note {
display: inline;
background-color:rgb(224,224,224);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
 padding-right: .5em;
}
 
note[id]:before {
font-style:italic;
content: attr(id) ": ";
}
    
note[place="left"] {
  float: left;
}
    
note[place="right"] {
  float: right;
}
    
note[place="inline"], note[place="unspecified"] {
  display: inline;
}

ptr[corresp]:before {
display: inline;
background-color:rgb(224,224,224);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
padding-right: .5em;
content: attr(corresp);
} 
notesStmt {
  display: block;
  margin-bottom: 1em;
}
num {
  display: inline;
}

opener {
display: inline;
}
orig {
  display: inline;
}
p {
  display: block;
  margin-bottom: 0.5em;
}

ab {
  display: block;
  margin-bottom: 0.5em;
}



ab[id]:before {
background-color:rgb(255,255,153);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
padding-right: .5em;
font-style:italic;
content: attr(id);

}

ab[corresp]:before {
background-color:rgb(255,255,153);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
 padding-right: .5em;
font-style:italic;
content: attr(corresp);

}
seriesStmt {
  display: block;
  margin-bottom: 1em;
}




    
pb:after {
  content: "{"attr(n)"}";
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
  text-align: center;
}
    
principal {
  display: block;
  margin-bottom: 0.5em;
}

publicationStmt {
  display: block;
  margin-bottom: 1em;
}
publisher {
  display: inline;
}
    
imprint > publisher, publicationStmt > publisher {
  display: block;
  margin-bottom: 0.5em;
}
pubPlace {
  display: inline;
}
    
imprint > pubPlace, publicationStmt > pubPlace {
  display: block;
  margin-bottom: 0.5em;
}
q {
  display: inline;
  quotes: '"' '"' "'" "'";
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
}
    
q[rend="display"], argument > q, body > q, cit > q, div > q, div0 > q, div1 > q, div2 > q, div3 > q, div4 > q, div5 > q, div6 > q, div7 > q, epigraph > q {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  quotes: none;
}
    
q:before {
  content: open-quote;
}
    
q:after {
  content: close-quote;
}
    
ref {
  display: inline;
  color: blue;
  background-color: inherit;
}
ref:before{
    color: gray;
    background-color: inherit;
    text-decoration: underline;
    content:'{' attr(target) '}';
}

reg {
  display: inline;
  font-style: italic;
}
rendition {
  display: block;
  margin-bottom: 0.5em;
}
resp {
  display: inline;
}
respStmt {
  display: block;
}
    
bibl respStmt {
  display: inline;
}
    
rdg:before {
  background-color: inherit;
  content: "[" attr(wit) "] ";
  color: red;
  }
row {
  display: table-row;
}
row[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}

rs {
  display: inline;
}
s {
  display: inline;
}
salute {
  display: block;
  margin-bottom: 0.5em;
}
samplingDecl {
  display: block;
  margin-bottom: 1em;
}

seg {
 display:inline;
}

seg[id]:before {
background-color:rgb(255,255,153);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
padding-right: .5em;
font-style:italic;
content: attr(id);

}

seg[corresp]:before {
background-color:rgb(255,255,153);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
 padding-right: .5em;
font-style:italic;
content: attr(corresp);

}
seriesStmt {
  display: block;
  margin-bottom: 1em;
}
sic {
  display: inline;
  color: red;
  background-color: inherit;
  text-decoration:underline;

}


sic:after {
  content: " [sic]";
}

supplied {
  display: inline;
  color: green;
  background-color: inherit;
  text-decoration:underline;

}

supplied:after {
content: "[supp]";
}

signed {
  display: block;
  text-align: right;
}
soCalled {
  display: inline;
  font-style: italic;
  quotes: "'" "'";
}
    
soCalled:before {
  content: open-quote;
}
    
soCalled:after {
  content: close-quote;
}
    
sp {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}
speaker {
  display: inline;
  font-weight: bold;
}
sponsor {
  display: block;
  margin-bottom: 0.5em;
}
stage {
  display: inline;
  font-style: italic;
}
table {
  text-align: center;
  display: table;
  margin: 1em
}
table > head{
    display:table-caption;
    font-style: italic;
    margin-bottom: 6pt;
}

tagUsage {
  display: block;
  margin-bottom: 0.5em;
}
taxonomy {
  display: block;
  margin-bottom: 0.5em;
}
term {
  font-family: sans-serif;
  color: blue;
  background-color: inherit;
  display: inline;
}
textClass {
  display: block;
  margin-bottom: 0.5em;
}
time {
  display: inline;
}
    
seriesStmt > title, titleStmt > title {
}
titlePage {
  display: block;
  border: thin black solid;
  margin-bottom: 2em;
  text-align: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
titlePart {
  display: block;
}
titleStmt {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
trailer {
  display: block;
  margin-bottom: 1em;
}
unclear {
  display: inline;
  color: blue;
  background-color: inherit;
  font-style: italic;
  text-decoration:underline;

}

unclear:after {

content: "[unclear]";

}
/* header-related material */
teiHeader {
  display: block;
  color: silver;
  background-color: rgb(251, 242, 234);
  border: solid black 1pt;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
titleStmt > author {
  display: block;
  margin-bottom: 1em;
}
authority {
  display: block;
  margin-bottom: 0.5em;
}
availability {
  display: block;
  margin-bottom: 0.5em;
}
fileDesc {
  display: block;
  margin-bottom: 1em;
}
sourceDesc {
  display: block;
  border: thin silver solid;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
revisionDesc {
  display: block;
  margin-bottom: 1em;
}
catDesc {
  display: block;
  margin-bottom: 0.5em;
}
encodingDesc {
  display: block;
  margin-bottom: 1em;
}
profileDesc {
  display: block;
  margin-bottom: 1em;
}
projectDesc {
  display: block;
  margin-bottom: 1em;
}
        
docDate {
  display: block;
  margin-bottom: 0.5em;
}
    
docImprint docDate {
  display: inline;
}
    
docEdition {
  display: block;
  margin-bottom: 0.5em;
}
docImprint {
  display: block;
  margin-bottom: 0.5em;
}
docTitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}


persname,
orgName,
placename
rs[type] {

background-color:rgb(204,230,255);
border: .5px dotted rgb(163,163,163);
padding-left: .5em;
 padding-right: .5em;
display:inline;
font-style:italic;
content: attr(corresp);

}

persname:after,
orgName:after,
placename:after
rs[type]:after {

content: " (key: " attr(key) ")";

}

/* OUCS additions */
Button {
	  font-family: monospace;
	  color: red;
	  font-weight: bold;
	  background-color: rgb(75%,75%,75%)
	  }
Value {
	  font-family: monospace;
	  color: rgb(255, 102, 0);
	  background-color: inherit;
	  }
Code {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Field {
	   font-family: monospace;
	   color: red;
	   background-color: inherit;
	   }
Filespec {
	      font-family: monospace;
	      color: red;
	      background-color: inherit;
	      }
Input {
	   font-family: monospace;
	   color: green;
	   background-color: inherit;
	   }
Key {
	 font-family: monospace;
         text-decoration: underline;
	 color: green;
	 background-color: inherit;
	 }
Link {
	  font-family: monospace;
	  color: green;
	  background-color: inherit;
	  text-decoration: underline;
	  }
Menu {
	  font-family: monospace;
	  color: red;
	  background-color: inherit;
	  }
Output {
	    font-family: monospace;
	    color: red;
	    background-color: inherit;
	    }
Icon {
	color: inherit;
	background-color : #B0E0E6;
	font-weight : bold;
}


Screen {
  font-family: monospace;
  padding-top: 3mm;
  padding-left: 4pt;
  padding-bottom: 2pt;
  display: block;
  margin-top: 12pt;
  margin-bottom: 12pt;
  white-space: pre;
  color: inherit;
  background-color: #FFCC99;
   }




