#banner .utilLinks form input.s01  { margin: -1px 0 0 0; }
#banner .utilLinks div.s02 label{padding:3px 0 0px 20px;  float: left;}
#banner .utilLinks form button { padding: 1px 0 0 0; margin: 0 0 0 5px; }
#mainContent .pageHeader .t02 { height: 1%; }
#mainContent .index .t01 dd a.s01,
#mainContent .index .t01 dd a.s01:hover,
#mainContent .index .t01 dd a.s02,
#mainContent .index .t01 dd a.s02:hover { display: inline-block;  padding: 0px 0px 8px 8px; background-position: right top;   }
#mainContent .figure .t02 a.x87 span {right: 13px;  }
#mainContent .image .t02 { position: relative; }
#mainContent .image .t02 dl	{ zoom: 1; } 
#mainContent .image .t02 dl dt  { clear: left; }
#mainContent .image .t02 dl dd { padding: 0 0 0 20px; }
#mainContent .image dl dt a.x87 span { cursor: pointer;  }

#mainContent .submenu,
#mainContent .submenu .t01 { position: relative; zoom: 1; }