#breadcrumb div.s01{padding:4px 0 4px 210px; }	
#breadcrumb ul li a span { position: relative; }

#banner h1 {  background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=image src='../i/banner_h1_bg.png');  }

/* IE6 only 
#mainContent { height: 420px; }
*/
#content {  width: 100%; }