Django>=2.2,<2.3
django_compressor==2.4
django-environ
django-extensions>=2.2,<2.3
django-kdl-ldap==1.2
django-libsass==0.8
django-model-utils>=4.0,<4.1
django-redis>=4.11,<4.12
gunicorn
lxml>=4.5,<4.6
psycopg2-binary>=2.8,<2.9
